@charset "UTF-8";

div[name=pddetail]{
	padding: 5px;
	float:left;
	width:600px;
	border-top: 1px solid gray;
	background: rgb(244,244,244)
}

.col.mb-5 {
	width: 250px;
	height: 500px;
	float: left;
}

.div1 {
	width: 1000px;
	float: right;
}
#searchSort{
	clear:both;
	padding-top:10px;
	width: 1000px;
	height:50px;
}
#pdbox{
	float: right;
	width: 1000px;
}
.leftSort{
	display:block;
	text-align: right;
	float: left;
}
.rightSort{
	display:block;
	text-align: right;
	float: right;
}
span[name=searchqty]{
	color: rgb(238,28,37);
	font-weight: bold;
}
#span2{
	margin-right: 20px;
}
#fiteradd{
	width: 1000px;
}
footer{
    clear:both;
}

section {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 1500px;
}


.btn.size{
	border: 1px solid black;
	background: rgb(244,244,244);
}

button[name=btn]{
	width:290px;
	height:50px;
	color: white;
	background: black;
	font-weight: bold;
	border-radius: 0.25rem;
}

.div2{
	width:1200px;
	margin-left: 150px;
}

.clearboth{
	clear:both;
}

.border-bottom{
	border-bottom: 3px solid black;
}

.reviewdiv{
	height: 50px;
}

.margin-right20{
	margin-right: 20px;
}

.margin-left20{
	margin-left: 20px;
}
span.gray{
	color: rgb(150,150,150);
}
#star{
	color: red;
}
.small{
	font-size: 12px;
}
.qnafirst{
	border-top: 3px solid black;
	border-bottom: 1px solid gray;
	height: 70px;
	margin-top: 50px;
}
.margin-top20{
	margin-top: 20px;
}

.bold{
	font-weight: bold;
}

.margin-left650{
	margin-left: 650px;
}

.margin-left100{
	margin-left: 100px;
}

.qnadiv{
	border-bottom: 1px solid gray;
	height:70px;
}

.pdtab{
	width: 1200px;
	margin-left: 150px;
	clear:both;
	margin-top:200px;
	margin-bottom: 20px;
}
